<div class="restaurant-card" data-restaurant-id="{{_id}}">
    <div class="card-header">
        <a href="/api/restaurants/details/{{_id}}">{{name}}</a>
        <div class="cuisine-badge">{{cuisine}}</div>
    </div>
    
    <div class="card-body">
        <div class="restaurant-info">
            <div class="info-item">
                <span class="label">Location:</span>
                <span class="value">{{borough}}</span>
            </div>
            <div class="info-item">
                <span class="label">Address:</span>
                <span class="value">{{address.street}}, {{address.building}}</span>
            </div>
            <div class="info-item">
                <span class="label">Cuisine:</span>
                <span class="value">{{cuisine}}</span>
            </div>
            <div class="info-item">
                <span class="label">Latest Grade:</span>
                <span class="value grade-{{latestGrade}}">{{latestGrade}}</span>
            </div>
            <div class="info-item">
                <span class="label">Latest Score:</span>
                <span class="value">{{latestScore}}/100</span>
            </div>
        </div>
    </div>
    
    <div class="card-footer">
        <button class="btn-rate" data-restaurant-id="{{_id}}" data-restaurant-name="{{name}}">
            Rate This Restaurant
        </button>
    </div>
</div>